
/* header */
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 32px 0;
}

.TopIcon {
  width: 209px;
  height: 80px;
}

.Segment {
  width: 37.28px;
  height: 35px;
}

/* head */
.head{
  color: var(--color-border-dark);
  align-items: center;

}

.container{
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}

.ViewImg{
  width: 100%;
}

.TopImg{
  position: absolute;
  top: 50%;
  right: 46%;
  z-index: 100;
}
.HeadText{
  margin-top: 65px;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}
.HeadTitle{
  font-size: 24px;
  font-weight: bold;
}
.HeadItem{
  font-family: "Zen Maru Gothic", sans-serif;
}
.title {
  color: var(--color-text-error);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.description {
  text-align: center;
}

@media (max-width: 640px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0;
  }
  .TopIcon {
    width: 85.33px;
    height: 32px;
  }
  .TopImg{
    right: 35%;
  }
}

